/*aspectos generales: bordes y color de fondo de calculadora*/
.calculadora { 
    border: 3px rgb(0, 255, 255) ridge; 
    width: 600px;
    text-align: center;
    background-color: rgb(28, 94, 170)
}

/*pantalla de visualización: bordes, posición, color de fondo, estilo letra.*/
#textoPantalla { 
    width: 500px; 
    border: 2px black solid; 
    text-align: right;
    position: relative; 
    left: 30px;  
    padding: 5px 5px;
    background-color: white; 
    font-family: "courier new";
    overflow: hidden;
    font-weight: bold;
}

/*botones normales: anchura y margen*/
.calculadora [type=button] { 
    width: 95px; 
    padding: 0; 
    background-color: rgb(255, 255, 255); 
    font-size: 18px;
}
/*botones especiales*/
.calculadora input.largo { color:#ab2f2f; width: 120px; }
.calculadora input.equipo { color:#b3009b; width: 114px; font-weight: bold;}


